pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.calva/
.clj-kondo/*
!.clj-kondo/config.edn
.lsp/
/out/
.portal/
.shadow-cljs/
cljs-test-runner-out/
.cljs_node_repl/
.cursorignore
.scratch/
.proxy-shim.pid
script/proxy_shim.py